In [1]:
#multiple all the element in the list
total = 1
numbers = [1, 2, 3, 4, 5]
for x in numbers :
    total *=x
print("multiple of all elements in list is :", total)

multiple of all elements in list is : 120

In [2]:
#create a tuple
MyTuple = ("Lolge", "Namrata", "Krishnakumar")
print(MyTuple)

('Lolge', 'Namrata', 'Krishnakumar')

In [5]:
#create a tuple with different data types
MyTuple = ("Namrata", 12, True)
print(MyTuple)

('Namrata', 12, True)

In [6]:
#check whether an elements exits in a tuple
MyTuple = ("Namrata", 12, True)
print("Lolge" in MyTuple)
print(12 in MyTuple)

False
True

In [7]:
#create a set
Myset = {"rbnb", "college", "shrirampur"}
print(Myset)

{'college', 'shrirampur', 'rbnb'}

In [8]:
#Iterate over sets
Myset = set("shrirampur")
for val in Myset :
    print(val)

u
a
m
s
i
p
h
r

In [11]:
#create set difference
s1 = set(["rbnb", "college", "shrirampur"])
s2 = set(["b.r.k.k", "vidyalaya", "shrirampur"]) 
s3 = s1.difference(s2)
print(s3)
s4 = s2.difference(s1)
print(s4)

{'college', 'rbnb'}
{'b.r.k.k', 'vidyalaya'}

In [12]:
#sort a dictionary by value
import operator
d = {1:2, 3:4, 4:3, 2:1, 0:0}
sorted_d = sorted(d.items(),key = operator.itemgetter(1))
print("Dictionary in ascending order by value :", sorted_d)
sorted_d = sorted(d.items(),key = operator.itemgetter(1), reverse = True)
print("Dictionary in descending order by value :", sorted_d)

Dictionary in ascending order by value : [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Dictionary in descending order by value : [(3, 4), (4, 3), (1, 2), (2, 1), (0, 0)]

In [13]:
#add a key to a dictionary
d = {10:0, 0:20}
print(d)
d.update({1:2})
print(d)

{10: 0, 0: 20}
{10: 0, 0: 20, 1: 2}

In [14]:
#iterate over dictionary using for loops
d = {'blue' : 1, 'purple' : 2, 'red' : 3}
for colour_key,value in d.items() :
    print(colour_key, 'to', d[colour_key])

blue to 1
purple to 2
red to 3

In [15]:
t = (2, 1, 3, 10, 4, 6)
min(t)
max(t)

10

In [16]:
t = ('ab', '0', '101', '20')
t

('ab', '0', '101', '20')